".source.js":
    "_.first":
      "prefix": "_first"
      "body": """
      _.first( ${1:array} )
      """
    "_.last":
      "prefix": "_last"
      "body": """
      _.last( ${1:array} )
      """
    "_.indexOf":
      "prefix": "_io"
      "body": """
      _.indexOf( ${1:array}, ${2:value} )
      """
