".source.js":
  "_.each":
      "prefix": "_each"
      "body": """
      _.each( ${1:list}, function( ${2:element}, ${3:index}, $(4: list) ){

          ${5: // do something here}

      })
      """
  "_.map":
      "prefix": "_map"
      "body": """
      _.map( ${1:list}, function( ${2:list} ){

          ${3: // build iterator here}

          return ${3:list}

      })
      """
  "_.sortBy":
    "prefix": "_sort"
    "body": """
    _.sortBy( ${1:list}, function( ${2:list} ){

        ${3:// build iterator here}

        return ${3:list}

    })
    """
  "_.size":
    "prefix": "_size"
    "body": "_.size( ${1:list} )"
