".source.js":
  "_.each":
      "prefix": "_each"
      "body": """
      _.each( ${1:list}, function( ${2:element}, ${3:index}, $(4:list) ){

          ${5: // do something here}

      })
      """
  "_.map":
      "prefix": "_map"
      "body": """
      _.map( ${1:list}, function( ${2:list} ){

          ${3: // build iterator here}

          return ${3:list}

      })
      """
  "_.reduce":
      "prefix": "_red"
      "body": """
      _.reduce( ${1:list}, ${2:iterator}, ${3:memo})
      """
  "_.find":
    "prefix": "_find"
    "body": """
    _.find( ${1:list}, ${2:predicate} )
    """
  "_.filter":
    "prefix": "_fil"
    "body": """
    _.filter( ${1:list}, ${2:predicate} )
    """
  "_.where":
    "prefix": "_whe"
    "body": """
    _.where( ${1:list}, ${2:properties} )
    """
  "_.findWhere":
    "prefix": "_fw"
    "body": """
    _.findWhere( ${1:list}, ${2:properties} )
    """
  "_.reject":
    "prefix": "_rej"
    "body": """
    _.reject( ${1:list}, ${2:predicate} )
    """
  "_.every":
    "prefix": "_ev"
    "body": """
    _.every( ${1:list}, ${2:predicate})
    """
  "_.some":
    "prefix": "_some"
    "body": """
    _.some( ${1:list}, ${2:predicate} )
    """
  "_.contains":
    "prefix": "_con"
    "body": """
    _.contains( ${1:list}, ${2:value} )
    """
  "_.invoke":
    "prefix": "_inv"
    "body": """
    _.invoke( ${1:list}, ${2:methodName} )
    """
  "_.pluck":
    "prefix": "_pl"
    "body": """
    _.pluck( ${1:list}, ${2:propertyName} )
    """
  "_.max":
    "prefix": "_max"
    "body": """
    _.max( ${1:list}, ${2:iterator} )
    """
  "_.min":
    "prefix": "_min"
    "body": """
    _.min( ${1:list}, ${2:iterator} )
    """
  "_.sortBy":
    "prefix": "_sort"
    "body": """
    _.sortBy( ${1:list}, function( ${2:list} ){

        ${3:// build iterator here}

        return ${3:list}

    })
    """
  "_.groupBy":
    "prefix": "_gr"
    "body": """
    _.groupBy( ${1:list}, function( ${2:list} ){

        ${3:// build iterator here}

        return ${3:list}

    })
    """
  "_.indexBy":
    "prefix": "_index"
    "body": """
    _.indexBy( ${1:list}, function( ${2:list} ){

        ${3:// build iterator here}

        return ${3:list}

    })
    """
  "_.countBy":
    "prefix": "_count"
    "body": """
    _.countBy( ${1:list}, function( ${2:list} ){

        ${3:// build iterator here}

        return ${3:list}

    })
    """
  "_.shuffle":
    "prefix": "_shuf"
    "body": "_.shuffle( ${1:list} )"
  "_.sample":
    "prefix": "_sam"
    "body": "_.sample( ${1:list} )"
  "_.size":
    "prefix": "_size"
    "body": "_.size( ${1:list} )"
  "_.toArray":
    "prefix": "_toa"
    "body": "_.toArray( ${1:list} )"
